.TacOS_Stuff/TacOS_Settings_App/pages/__pycache__/
*.pyc
.TacOS_Stuff/TacOS_Settings_App/pages/General_Settings_Subfiles/current_theme_is_daisies
.TacOS_Stuff/TacOS_Settings_App/pages/General_Settings_Subfiles/current_theme_is_minimal
.TacOS_Stuff/TacOS_Settings_App/pages/General_Settings_Subfiles/current_theme_is_magic
.TacOS_Stuff/TacOS_Settings_App/pages/General_Settings_Subfiles/current_theme_is_fall
.TacOS_Stuff/TacOS_Settings_App/pages/General_Settings_Subfiles/niri_config_file_sections/layout_final.kdl
iso/making_iso_try_1/output*
iso/1
iso/2
iso/3
iso/4
iso/5
iso/6
iso/7
iso/8
iso/9
iso/10
iso/11
iso/12
iso/13
iso/14
iso/15
iso/16
iso/17
iso/18
iso/19
iso/20