box {
    margin: 10px;
    border-radius: 10px;
}

box.main_box {
    margin: 0px;
}

box.box_1 {
    margin: 0px;
}

button.button_theme_daisies {
    margin: 10px;
    min-width: 110px;
    min-height: 30px;
    background: #f4da32;
    color: black;
    font-weight: bold;
    border: 1px solid white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
}

button.button_theme_daisies:hover {
    border: 1px solid #3daee9;
    background: #c2ad28;
}

button.button_theme_minimal {
    margin: 10px;
    min-width: 110px;
    min-height: 30px;
    background: #302d41;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
}

button.button_theme_minimal:hover {
    border: 1px solid #3daee9;
    background: #201e2c;
}

button.button_theme_magic {
    margin: 10px;
    min-width: 110px;
    min-height: 30px;
    background: #200936;
    color: #00e8ff;
    font-weight: bold;
    border: 1px solid white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
}

button.button_theme_magic:hover {
    border: 1px solid #3daee9;
    background: #0a0311;
}

button.button_theme_fall {
    margin: 10px;
    min-width: 110px;
    min-height: 30px;
    background: rgb(249, 135, 6);
    color: white;
    font-weight: bold;
    border: 1px solid white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
}

button.button_theme_fall:hover {
    border: 1px solid #3daee9;
    background: rgb(183, 100, 5);
}