box {
    margin: 10px;
    background-color: @theme_bg_color;
    border-radius: 20px;
}

button {
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}

button.nevermind {
    margin: 20px;
    margin-top: 0px;
}

label.label {
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 15px;
}

window {
    background-color: rgba(0, 0, 0, 0)
}