preset-column-widths {
	proportion 0.33333
	proportion 0.5
	proportion 0.66667
}
default-column-width {
	proportion 0.5
}
focus-ring {
	width 5.0
	active-color "#6a3cd1ff"
	inactive-color "#ffffff00"
}
border {
	off
	width 4.0
	active-color "#f4da32"
	inactive-color "#ffffff"
	urgent-color "#9b0000"
}
shadow {
	on
	softness 12.0
	spread 5.0
	offset x=0.0 y=0.0
	color "rgba(0, 0, 0, 0.9)"
}
