preset-column-widths {
	proportion 0.33333
	proportion 0.5
	proportion 0.66667
}
default-column-width {
	proportion 0.5
}
focus-ring {
	width 7.0
	active-color "rgba(204, 255, 0, 1)"
	inactive-color "#ffffff00"
}
border {
	off
	width 4.0
	active-color "#f4da32"
	inactive-color "#ffffff"
	urgent-color "#9b0000"
}
shadow {
	on
	softness 10.0
	spread 6.0
	offset x=0.0 y=0.0
	color "rgba(34, 236, 229, 1)"
}
